<!-- views/partials/book_card.ejs -->
<% 
    //*********************************//
    //format the parameters for display//
    //*********************************//
    // Title
    let displayTitle = locals.title ||"Unknown Title";
    
    // Description
    let rawDescription = locals.description;
    let encodedDescription = encodeURIComponent(JSON.stringify(rawDescription));
    let displayDescription = processDescription(rawDescription,200);
    
    // Authors
    let rawAuthors = locals.authors || [];
    let encodedAuthors = encodeURIComponent(JSON.stringify(rawAuthors));
    let displayAuthors = processAuthors(rawAuthors)
    
    // Score & stars (user)
    let userScore = locals.score || null;
    let displayUserScore = processScore(userScore);
    let displayUserStars = scoreToStars(userScore);
    
    let status = cachedStatuses.find((status) => {
      return status.id == status_id;
    });
    let displayStatus = status ? status.status : 'Unknown Status';

    // Languages
    let displayLanguages = languages.join(', ');
  %>
<form class="card-form" action="/edition" method="post">
  <div class="card-container" 
  data-edition-olid="<%= locals.edition_olid %>" 
  data-work-olid="<%= locals.work_olid %>" 
  data-title="<%= displayTitle %>" 
  data-publish-date="<%= locals.publish_date %>" 
  data-description="<%= encodedDescription %>"
  data-cover-url="<%= locals.cover_url || '' %>"
  data-status-id="<%= locals.status_id %>"
  data-score="<%= locals.score %>"
  data-authors="<%= encodedAuthors %>"
  data-languages="<%= locals.languages %>"
  tabindex="0" 
  >

    <div class="card-content-container flex ">
      <div class="book-cover-status flex vertical align-center justify-center">
        <div class="book-cover-container flex justify-center align-center">
          <% if (locals.cover_url) { %>
          <img src="<%= cover_url %>" alt="<%= title %> Book Cover Image" class="book-cover">
          <% }; %>
        </div>

        <div class="book-status">
          <p><i><%- displayStatus %></i></p>
        </div>
      </div>
      <div class="book-details-container flex vertical flex-remainder">
        <div class="book-title">
          <h3><%= displayTitle %>
          <% if ( displayLanguages.length > 0 ) { %>
            <span class="book-languages"><i>(<%= displayLanguages %>)</i></span>
            <% } %></h3>
        </div>

        <div class="book-score">
          <p>My Score: &nbsp;&nbsp;&nbsp; <%- displayUserStars %> <%- displayUserScore %></p>
        </div>

        <div class="book-description-text ">
          <p><i><%- displayDescription %></i></p>
        </div>

        <div class="book-author">
          <p><i><b><%= displayAuthors %></b></i></p>
        </div>
      </div>
    </div>
  </div>
</form>